[user]
	name = Colin Bullock
	email = cmbullock@gmail.com
[github]
	user = cmbullock
[alias]
	br = branch
	cm = commit --message
	cam = !git add -A && git commit -a --message
	co = checkout
	cob = checkout -b
	d = diff
	irb = rebase --interactive
	st = status
[credential]
	helper = osxkeychain
[color]
	ui = auto
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[push]
	default = simple
[merge]
	stat = true
	diff = vimdiff
[status]
	submodulesummary = true

